body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    
}


.about {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
    text-align: left;
    color: white;
}

.about h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}

.about p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fffefe;
}

.about h2 {
    font-size: 1.5em;
    color: #fafafa;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
}
